article(class="article_offer")
    h3 #{company_name} TecnoPro Webs
    h3 #{title} full-stack con React y Angular
    div(class="dataOffer")
        p #{location} Ubicación: Córdoba
        p #{work_schedule} Jornada: Intensiva
        p #{experience} Experiencia 2 años
        p #{contract_type} Tipo de contrato: Indefinido
        p #{salary} Salario: 50.000€
    p #{description} Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing lorem passages.
