doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FAVORITES
        link(rel="stylesheet" href=" ../styles.css")
        link(rel="icon" type="image/x-icon" href="/assets/logo.png")
    body
        include ./header_in.pug
        main
            section 
                h1 MY FAVORITE JOB OFFERS
                div(class="parabtn-container")
                    each val, valkey in scrap
                        article(class="article_offer" id=valkey)
                            each valor, key in val
                                if key == "error"
                                    h3 ERROR! #{valor}

                                if key == "title"
                                    div.info-container
                                        h3#title #{valor}

                                if key == "companyName"
                                    div.info-container
                                        div.icon-container
                                            img(src="/assets/edificio-de-oficinas.png", alt="companylogo")
                                        p#companyName #{valor}
                                
                                if key == "location"
                                    div.info-container
                                        div.icon-container
                                            img(src="/assets/ubicaciones.png", alt="companylocation")
                                        p#location #{valor}
                                
                                if key == "experience"
                                    div.info-container
                                        div.icon-container
                                            img(src="/assets/experiencia.png", alt="companyexperience")
                                        p#experience #{valor}

                                if key == "contract_type"
                                    div.info-container
                                        div.icon-container
                                            img(src="/assets/documento.png", alt="companycontract_type")
                                        p#contract_type #{valor}

                                if key == "work_schedule"
                                    div.info-container
                                        div.icon-container
                                            img(src="/assets/calendario.png", alt="companywork_schedule")
                                        p#work_schedule #{valor}

                                if key == "salary"
                                    div.info-container
                                        div.icon-container
                                            img(src="/assets/salario.png", alt="companysalary")
                                        p#salary #{valor}

                                if key == "description"
                                    div.info-container
                                        p#description #{valor}
        include ./footer.pug
        script(src="../scripts.js")